.show{
  display: flex;
  flex-direction: column;
    margin-bottom: 10px;
    text-align: center;
    // width: 300px;
}

.filter{
  display:flex;
  justify-content: center;
}

.test{
  margin: 5px;
}



.hide{
  display: none;
}

// .filter{
//   width: 300px;
// }
