.show {
  display: flex;
  flex-direction: column;

  margin-bottom: 15px;
}

.filter {
  display: flex;
  justify-content: center;
}

.test {
  margin: 5px;
}

.hide {
  display: none;
}

.dropdown {
}

.dropdown:hover {
  cursor: pointer;
}

// .filter{
//   width: 300px;
// }
