@import "defaults";

.nav-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #63b1c2;
  justify-items: center;
}

.nav {
  grid-column-start: center;
  grid-column: 2/3;
  height: 50px;
  // z-index: 10;

  color: white;

  img {
    width: 30px;
  }
}
