@import "defaults";

.nav{
    display: flex;
    // align-items: flex-start;
    align-items: center;
    height:50px;
    // z-index: 10;
    background-color: #63b1c2;
    // background-image: url("/static/img/leather_nav.jpg");
    // color: white;

    img{
width:30px;
    }

}   