@import "parameters";

.reviews{
  display: flex;
  flex-direction: column;

  .headings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h4{
      margin: 2px;
    }
  }


  &__yourthoughts{
    display:flex;
    justify-content: flex-start;
      @extend %button;
      padding: $content-padding;
    }
}
