@import "defaults";



.hide_stalls{
    display:none;

}

.show_stalls{
    margin: auto;
    display: block;
    width: 300px; height: 565px; overflow: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}


