@import "defaults";
@import "parameters";

.hide_dishes{
    display:none;
}
.description{
font-style:italic;
}
.show_dishes{
    display: flex;
    flex-direction: column;

    top:0;
    left:0;
    width: 100vw;
    height: 70vh;
    overflow: auto;


    .title{

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .close{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column: 3/4;
        @extend %button;
        padding: $content-padding;
    }

    background-color:white;
    .store__image{
      width: 90vw
    }
    // z-index: 5;
}

#test{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 70vh;
  top:0;
  left:0;
  overflow: auto;

  .title{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .close{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 3/4;
      @extend %button;
      padding: $content-padding;
  }
  background-color:white;
  .store__image{
    width: 90vw
  }
}

@media screen and (min-width: 700px) {
  .show_dishes{
width: 420px;
 height: 100vh;
overflow: auto;
-ms-overflow-style: -ms-autohiding-scrollbar;

      .store__image{
        width: 400px
      }
      // z-index: 5;
  }

  #test{
width: 420px; height:  100vh; overflow: auto;
-ms-overflow-style: -ms-autohiding-scrollbar;
    .store__image{
      width: 400px
    }
  }

}
