@import "defaults";

.hide_dishes{
    display:none;

}
.description{
font-style:italic;
}
.show_dishes{
    display: block;
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height:100vh;
    background-color:white;
   
}


#test{
 width: 300px; height: 100vh; overflow: auto;
-ms-overflow-style: -ms-autohiding-scrollbar;
text-align:center;
margin: auto;
}

@media screen and (max-width: 700px) {
    #test{
    width: 100vw;
    height:100vh;
    }

    
}


